/* 
.second-navbar {
  background: linear-gradient(to bottom right, #2b0006,#4b000a,#430b0b);
   margin-top: 20px;
}
@media (max-width: 768px) {
  .second-navbar {
    margin-top: 40px;
  }
}
.navbar-title {
  text-align: center;
  margin-bottom: 12px;
  padding: 40px 24px 24px;
}
.vibe-red {
  color: #ef4444; 
}
.navbar-title h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 6px;
  margin-top: 60px;
}

@media (max-width: 1024px) {
  .navbar-title h1 {
    font-size: 32px;
  }
}

@media (max-width: 640px) {
  .navbar-title h1 {
    font-size: 24px;
  }
}
.navbar-title p {
  font-size: 18px;
  color: #9ca3af;
}

.navbar-links {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding: 6px 150px;
  justify-content: flex-start;
  scrollbar-width: none;
}
@media (max-width: 1024px) {
  .navbar-links {
    padding: 6px 60px;
  }
}
@media (max-width: 640px) {
  .navbar-links {
    padding: 6px 20px; 
    gap: 14px;
  }
}
.navbar-links::-webkit-scrollbar {
  display: none;
}

.nav-btn {
  padding: 8px 16px;
  font-size: 18px;
  border-radius: 9999px; 
  white-space: nowrap;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex-shrink: 0;
}

.nav-btn:hover {
 background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.nav-btn.active {
  background-color: red;
  color: #fff;
} */
